extends layout
block content
  -
    /* sometimes uauth.js returns udata.error as bool, sometimes as string. */
    if(udata.error) udata.error = udata.error.toString();

  //- 
    var path = `${$.__data}/public/files/cologo.png`;
    var cologo = 'data:image/png;base64,'+$.fs.readFileSync(path).toString('base64');
  
  div#errmsg
  div#splash
    div#slider
      
      if $.runmode == 'free'
        div#usignup(style="display:none")
          form#signup(method="POST" style="padding:0;margin:0" data-form=udata.form||'login' data-error=udata.error data-msg=udata.msg autocomplete="off")
            input(type="hidden" name="_formid" value="usignup")
            
            input#_token(type="hidden" name="_token")
            input(type="hidden" name="action" value="validate_captcha")
            
            H1 New User Account
            div
              label User ID
              input.upper.easyui-validatebox(name="userid" required="required" data-options="validType:['length[3,15]']")
            div
              label First Name
              input.easyui-validatebox(type="text" name="name_first" required="required" data-options="validType:['length[2,30]']")

            div
              label Last Name
              input.easyui-validatebox(type="text" name="name_last" required="required" data-options="validType:['length[2,30]']")
            
            div
              label Company Name
              input.easyui-validatebox(type="text" name="division" required="required" data-options="validType:['length[5,30]']")

            div
              label Email Address
              input.easyui-validatebox(type="email" name="email" required="required" data-options="validType:['email','length[5,30]']")

            div(style="padding: 12px 0 0 100px;")
              a.easyui-linkbutton#submit(icon='icon-lock', href='#' onclick="unew_submit();") Submit

      div#ulogin

        form#login(method="POST" style="padding:0;margin:0" data-form=udata.form||'login' data-error=udata.error data-msg=udata.msg autocomplete="off")
          input(type="hidden" name="hash")
          input(type="hidden" name="width")
          input(type="hidden" name="height")
          input(type="hidden" name="_formid" value="login")
          input#_token(type="hidden" name="_token")
          input(type="hidden" name="action" value="validate_captcha")
          
          H1 User Login
          div
            label User ID
            input#userid.upper.easyui-textbox(name="userid" style="width:110px;")
          div
            label Password
            input.easyui-textbox(type="password" name="passwd" style="width:110px;")
          div
            a.easyui-linkbutton#submit(icon='icon-lock', href='#' onclick="login.submit();") Login
            
        if $.runmode == 'free'
          a#unew(href="#") click here if you dont have an account
        
    //-div
      img(src=cologo style="width:100px;opacity:0.8")
   
  style.
    
    body {
      background: linear-gradient(to top, #207cca 51%, #7db9e8 100%);
    }

    a#unew {
      margin-top: 1em;
      color: greenyellow;
    }

    div#errmsg {
      text-align: center;
      min-width: 400px;
      min-height: 50px;
      color: white;
      background: transparent;
      font-size: 1.2rem;
      line-height:50px;
      opacity:0;
      
    } div#errmsg.show {
      transition: 2s;
      background: rgba(200, 0, 0, 0.1);
      opacity:1;  
    }
    

    #splash #slider {
      margin: 0;
      height:412px;
      _width:924px;
      background-image:url('img/pure_logo_w_shadow_200x74.png') !important;
      background-position: 1em 0;
      
      display:none;
      overflow:hidden !important;
      padding-top:150px;
      padding-left:35%;   
    }
  
    #splash {
      background-image: none;
      border: 1px solid white;
      border-radius: 0.5em;
    }
  
    #splash #slider div div {
      display:inline-block;
      margin-right:12px;
    }
  
    #splash #slider * {
      font-family: OpenSansLight,Helvetica,Arial,Sans serif;
      overflow:hidden !important;
      white-space: nowrap;
      display: block;
    }
  
    #splash label {
      margin-bottom: 4px;
      font-weight:100;
      font-size:0.8rem;
      color: #DDDDDD;
    }
  
    #splash h1 {
      font-size: 1.5rem;
      font-weight: 100;
      text-shadow: 1px 1px 1px #333333;
      color: yellow;
    }
    
    #splash .textbox {
      padding: 4px 0 1px;
    } 
    
    #splash input.invalid + span.textbox {
      border-color: #ffa8a8;
      background-color: lightpink;
      color: #000;
    }
        
    #splash .l-btn {
      background: #A9C5EB;
      color: white;
    } #splash .l-btn:hover {
      background: #7BA7E1;  
    } #splash .l-btn > span {
    }

    #splash #slider #signup div {
      display: block;
      margin-bottom: 4px;  
    }

    #splash #slider #signup div * {
      display: inline-block;  
    }

    #splash #slider #signup div label {
      width: 120px;  
      position: relative;
      top: 6px;
    }

    #splash #slider #signup div input {
      width: 150px;  
    }

    a#unew {
      font-size: smaller;
    }

  
  script(src="https://www.google.com/recaptcha/api.js?render=6LdrG_MUAAAAAJ1sGnd_09tQa8fQvMnP9fPY6ln0")
  script.

    grecaptcha.ready(function() {
      grecaptcha.execute('6LdrG_MUAAAAAJ1sGnd_09tQa8fQvMnP9fPY6ln0', {action:'validate_captcha'})
      .then(function(_token) {
        document.getElementById('_token').value = _token;
      });
    });
  
    function unew_submit(){
      var frm = $('form#signup');
      if(!frm.form('validate')) return false;
      frm.addClass('lock');
      alert('Thanks, your login details will be emailed to you.')
      setTimeout(function(){frm.submit()},2000);
    }

    function unswitch(){
      $('#login').hide();
      $('#unew').hide();
      $('#usignup').show();
      focel();     
    }

    function focel(){
      setTimeout(function(){$('input:visible:enabled:first').focus()},250);
    }


