- 
  //var _ulan = locals.qry._udata.language || 'eng'; 
  //var _lang = global._lang[_ulan] || {};
  //var _lankeys = Object.getOwnPropertyNames(_lang);
  
  function trans(txt){var match = new RegExp(txt, 'i').exec(_lankeys); return match && match.length > 0 ? _lang[match[0]]:txt;}
  function getOpts(obj){ try {return eval('({'+obj+'})');} catch(err){return {}}}
  function extend(obj,data){for(var k in data){obj[k] = data[k]}; return obj;}
 
mixin custom(grpid)
  if($.isdev || grpid == process.env.GRPID)
    block

mixin require(src)
  script.rm headScript('#{src}');
    
mixin spec(legend,input,opts)
  -opts=opts || {style:'margin-top:6px;'}
  +fieldset(legend,opts)
    +input(extend({class:'easyui-textbox','data-options':"multiline:true,validType:['length[1,255]']", style:'height:130px;width:330px;'},input))

mixin button(text,vars)
  if(mobile)
    a(href="#" data-role="button" data-inline="true")&attributes(vars)=text
  else
    a(href="#" class="easyui-linkbutton")&attributes(vars)=text

mixin fitem(label,input,fitem)
  -
    fitem=fitem||{};
    if(mobile) fitem['class'] = "ui-field-contain";
  
  div.fitem&attributes(fitem)
    +label(label)
    +input(input) 
    if block
      span(style="display:inline-block;width:6px;")
      block

mixin input(input)
  -
    if(input.id=='~') input.id=input.name; if(input.name=='~') input.name=input.id;
    if(input.prompt){input.placeholder=input.prompt; delete(input.prompt);}  
  -if(!mobile)
    -
      if('validType' in input) {
        var vt = "validType:'"+input.validType+"'";
        if(!('data-options' in input)) input['data-options']=vt;
        else input['data-options'] += ','+vt;
        delete(input.validType)
      }
      var opt={}; if(input['data-options']) var opt = getOpts(input['data-options']);
      if(opt.data && opt.data.length < 12) {input.panelHeight = 'auto';}
      input.class = input.class || ''; if(input.eui) input.class += ' easyui-'+input.eui; 
  input&attributes(input)

mixin label(label)
  -if(label.text)
    -
      text=label.text; delete label.text
      if(text=='') label.class='empty';
      //-if(lang && langs && langs[lang])
      //-lanadd(text,'label');
    label&attributes(label)!=trans(text)
  -else
    -
      var attr={}; if(label=='') attr.class='empty';
      //-lanadd(label,'label');
    label&attributes(attr)!=trans(label)
     
mixin layout(opts)
  -opts=opts||{};opts.fit=opts.fit||'true';
  div.easyui-layout()&attributes(opts)
    block

mixin fieldset(legend,opts)
  -opts=opts||{}
  fieldset()&attributes(opts)
    legend=legend
    if(col)
      div(class=col)
        block
    else
      block

mixin udf(ron)
  -
    ron=ron || false;
    var cls = 'easyui-textbox'; if(ron) cls += ' sub-off'; 
  -for (var x=1; x<11; x++)
    +fitem({text:'User Label '+x,id:'UDF_'+x},{name:'USER_'+x,readonly:ron, class:cls,'data-options':"validType:['length[1,80]']"},{'data-role':'fieldcontain'})

mixin udf-subon()
  -for (var x=1; x<11; x++)
    +fitem({text:'User Label '+x,id:'UDF_'+x},{name:'USER_'+x,class:'easyui-textbox sub-on','data-options':"validType:['length[1,80]']"},{'data-role':'fieldcontain'})

mixin udf-labels(sqlid)
  div(title='UDF Labels')
    form.multi(_sqlid=sqlid asdpx='ax')
      fieldset(style="margin-top:12px")
        +fitem('UDF ID',{name:'ID', _sqlid_:'udfid', class:'easyui-combobox fkey'})
      fieldset(style="margin-top:0px")
        -for (var x=1; x<11; x++)
          +fitem('Field Label '+x,{name:'UDF_'+x,class:'easyui-textbox','data-options':"validType:['udfLabels[20]']"})
    
    div(style="padding:12px;")
      h3 Usage Notes
      p The maximum length of a label is 20 characters, {} prefixes are excluded from the length calculations.
      p UDF fields can be defined as Drop-Down Boxes, Date Selectors and Number Fields by using the prefix {} feature.
      p The following are valid prefix types: 
        ul
          li Date Selector: {date} 
          li Number Box: {number}
          li Number Spinner: Spinner {spinner}
          li Drop-Down Box: {option1,option2,option3,...}
      p For Drop-Down boxes, the selected value will be exactly as defined in the {list,of,items}.
      p An asterisk (*) as the first character will force the field to be required i.e. *Notes or *{date}.

mixin dashboard(data,attr)
  link(rel='stylesheet' type='text/css' href='css/dash.min.css')
  if(data)
    each box in data
      +dash-box(box)
  else
    block
  
mixin dash-box(box)
  li
    div.title=box.title
    div.body  
      each row in box.data
        .row
          span.label=row.label
          span.value=row.value
          
mixin tab-item(title,attr)
  //-lanadd(title,'tab');
  div(title=title)&attributes(attr)
    block
